/* body {
  background: url(../images/Yellow.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-family: "Source Code Pro", monospace;
  font-weight: 200;
  text-shadow: 1px 1px 0 #000;
} */

/* html {
  background-image: url("../images/Yellow.jpg");
  background-repeat: no-repeat no-repeat;
  background-size: 50% 100%;
  background-position: left top, right top; 
} */

.navbar {
  background-color: black;
  color: white;
  margin: 0vw;
  border-radius: 0%;
}

#header-text-left {
  font-family: "Julius Sans One", sans-serif;
  font-size: 7.5vw;
  margin: 11.7vw 0vw 0vw;
  position: absolute;
  right: 1.4vw;
  border-bottom: 5px solid black;
  padding-bottom: 1.3vw;
}

#header-text-right {
  font-family: "Vast Shadow", cursive;
  font-size: 7.5vw;
  margin: 11.5vw 0vw 0vw;
  width: 171%;
  border-bottom: 5px solid black;
  padding-bottom: 1.4vw;
}

#landing-text-left {
  font-family: "Julius Sans One", sans-serif;
  font-size: 4vw;
  margin: 24.8vw 0vw;
  position: absolute;
  right: 2vw;
}

#landing-text-right {
  font-family: "Vast Shadow", cursive;
  font-size: 3vw;
  margin: 2.9vw 1vw;
}

#page-left {
  background: url(../images/Yellow.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vw;
}

#page-right {
  background: url(../images/Blue.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vw;
}

#start-button {
  position: absolute;
  z-index: 1;
  top: 4vw;
  right: 5vw;
  border: 3px solid #fff;
  color: #fff;
  background: none;
  letter-spacing: 1px;
  width: 10vw;
}

#tagline-div {
  background-color: rgba(12, 34, 56, 0.5);
  padding: 0vw 2vw;
}

#tagline-text {
  font-family: "Lexend Tera", sans-serif;
  margin: 0vw;
  color: white;
  font-size: 1.7vw;
}
