/* page ids ========================================= */
#landing-page {
  display: block;
}

#age-verification-page {
  display: none;
}

#kids-page {
  display: none;
}

.single-background {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vw;
  display: none;
}

#mood-page {
  background: url(../images/BlackandRed.jpg) no-repeat center center fixed;
}

#music-page {
  background: url(../images/BlackandGreen.jpg) no-repeat center center fixed;
}

#booze-page {
  background: url(../images/BlackandBlue.jpg) no-repeat center center fixed;
}

#results-page {
  display: none;
}

/* backgrounds, page left and right ================ */
.background-left {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vw;
}

.background-right {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vw;
}

#landing-page-left {
  background: url(../images/Yellow.jpg) no-repeat center center fixed;
}

#landing-page-right {
  background: url(../images/Blue.jpg) no-repeat center center fixed;
}

#age-page-left {
  background: url(../images/White.jpg) no-repeat center center fixed;
  color: black;
}

#age-page-right {
  background: url(../images/Black.jpg) no-repeat center center fixed;
  color: white;
}

#kids-page-left {
  background: url(../images/Green.jpg) no-repeat center center fixed;
}

#kids-page-right {
  background: url(../images/Purple.jpg) no-repeat center center fixed;
}

#results-page-left {
  background: url(../images/Red.jpg) no-repeat center center fixed;
}

#results-page-right {
  background: url(../images/Purple.jpg) no-repeat center center fixed;
}

/* header text =================================== */
.header-text {
  font-size: 7.5vw;
  border-bottom: 5px solid black;
}

.header-text-left {
  font-family: "Julius Sans One", sans-serif;
  margin: 11.7vw 0vw 0vw;
  position: absolute;
  right: 1.4vw;
  padding-bottom: 1.3vw;
  text-shadow: 6px 5px 10px #000;
}

.header-text-right {
  font-family: "Vast Shadow", cursive;
  margin: 11.5vw 0vw 0vw;
  width: 171%;
  padding-bottom: 1.4vw;
  text-shadow: 1px 1px 2px #000;
}

/* text left and right ============================ */
.custom-text-left {
  font-family: "Julius Sans One", sans-serif;
  font-size: 4vw;
  margin: 24.8vw 0vw;
  position: absolute;
  right: 2vw;
  text-shadow: 1px 1px 5px #333;
}

.custom-text-right {
  font-family: "Vast Shadow", cursive;
  margin: 2.9vw 1vw;
}

#landing-text-right {
  font-size: 3vw;
}

#kids-text-right {
  font-size: 4.2vw;
}

/* back buttons ================================== */
.back-button-black {
  position: absolute;
  z-index: 1;
  top: 4vw;
  right: 85vw;
  border: 3px solid #000;
  color: black;
  background: none;
  letter-spacing: 1px;
  width: 10vw;
  text-decoration: none;
  text-shadow: 1px 1px 2px #333;
  box-shadow: 1px 1px 2px #333;
}

.back-button-black:hover {
  outline: 5px auto white;
}

.back-button-white {
  position: absolute;
  z-index: 1;
  top: 2vw;
  right: 85vw;
  border: 3px solid white;
  color: white;
  background: none;
  letter-spacing: 1px;
  width: 10vw;
  text-decoration: none;
  text-shadow: 1px 1px 2px #333;
  box-shadow: 1px 1px 2px #333;
}

.back-button-white:hover {
  outline: 5px auto black;
  color: white;
}

/* forward buttons ================================== */
.forward-button {
  position: absolute;
  z-index: 1;
  top: 2vw;
  right: 5vw;
  border: 3px solid #fff;
  color: #fff;
  background: none;
  letter-spacing: 1px;
  width: 10vw;
  text-shadow: 1px 1px 2px #333;
  box-shadow: 1px 1px 2px #333;
}

.forward-button:hover {
  outline: 5px auto black;
  color: white;
}

#landing-start-button {
  color: black;
  border: 3px solid black;
  text-shadow: 1px 1px 2px #333;
  box-shadow: 1px 1px 2px #333;
}

img {
  width: 100%;
}

.age-text {
  padding-bottom: 2vw;
  text-shadow: 1px 1px 3px #333;
}

.good {
  font-family: "Julius Sans One", sans-serif;
  position: absolute;
  font-size: 3vw;
  right: 59vw;
  padding-bottom: 1.3vw;
  margin: -2.8vw -5vw;
}

.header {
  z-index: 1 !important;
  background-color: black;
  color: white;
  padding: 3.5vw;
}

.spirits {
  font-family: "Vast Shadow", cursive;
  font-size: 3.5vw;
  margin: -3.4vw 0vw 0vw;
  position: absolute;
  left: 48vw;
}

.custom-row-card {
  width: 30vw;
  padding: 0vw;
  margin: 4vw 1.6vw 0vw;
  box-shadow: 20px 20px 15px #000;
  transition: transform .2s; 
}

.custom-row-card:hover {
  transform: scale(1.05);
}

#age-modal-left {
  position: absolute;
  z-index: 1;
  border: 3px solid #000;
  border-right: none;
  color: #000;
  background: none;
  letter-spacing: 1px;
  text-align: center;
  font-family: "Julius Sans One", sans-serif;
  font-size: 3vw;
  margin: 15vw -.4vw;
  padding: 3vw;
}

#age-modal-right {
  position: absolute;
  z-index: 1;
  border: 3px solid white;
  border-left: none;
  color: white;
  background: none;
  letter-spacing: 1px;
  text-align: center;
  font-family: "Julius Sans One", sans-serif;
  font-size: 3vw;
  margin: 15vw -2vw;
  padding: 3vw;
}

/* question text and div ============================= */
.question-div {
  background-color: rgba(255, 255, 255, 0.5);
  width: 47%;
  height: 5vw;
  position: absolute;
  z-index: 1;
  top: 6vw;
  border-radius: 5px;
  right: 26vw;
  box-shadow: 5px 5px 7px #000;
}

.question-text {
  z-index: 2;
  -webkit-text-stroke: .2px black;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
  font-family: "Homemade Apple", cursive;
  font-size: 2.5vw;
  margin: 0.9vw 3.3vw;
  color: white;
}

#music-question-text {
  font-size: 2.4vw;
}

/* music player and cocktail display on results page ==================== */
#music-display-div {
  width: 75%;
  position: absolute;
  left: -4vw;
}

#music-player {
  margin: 26vw -3vw;
  position: absolute;
  box-shadow: 3px 3px 20px #333;
  border-radius: 25px;
  left: -4.5vw;
}

#cocktail-display-div {
  width: 75%;
  position: absolute;
  right: -4vw;
}

/* yes and no buttons ============================= */
.yes-no-button {
  background: none;
  font-family: "Vast Shadow", cursive;
  width: 10vw;
  height: 5vw;
  margin-bottom: 1vw;
}

#no-button {
  color: #fff;
  text-decoration: none;
  border: 3px solid #fff;
  text-shadow: 2px 4px 3px rgba(255,255,255,0.3);    
  box-shadow: 1px 1px 2px #333;
}

#no-button:hover {
  outline: 5px auto black;
  text-shadow: 3px 3px 0 #333;
}

#yes-button {
  color: black;
  text-decoration: none;
  border: 3px solid black;
  text-shadow: 1px 1px 2px #333;
  box-shadow: 1px 1px 2px #333;
}

#yes-button:hover {
  outline: 5px auto white;
  text-shadow: 1px 1px 0 #333;
}

/* media queries =============================== */
@media screen and (max-width: 1100px) {
  #age-modal-left {
    margin: 15vw -1vw;
  }
}

@media screen and (max-width: 992px) {
  .header-text-left {
    margin: 15vw 0vw 0vw;
  }
  .custom-text-left {
    margin: 29vw 0vw;
  }
  #landing-start-button {
    margin: 2vw;
  }
  .header-text-right {
    margin: 14.8vw 0vw 0vw;
  }
  .custom-text-right {
    margin: 3.9vw 1vw;
  }
  .back-button-white {
    margin: -.5vw;
  }
  .forward-button {
    margin: -.5vw;
  }
  .question-div {
    top: 8.5vw;
  }
  .custom-row-card {
    margin: 6vw 1.6vw 0vw;
  }
  #music-player {
    left: -7.5vw;
    top: 6vw;
  }
}

@media screen and (max-width: 768px) {
  .header-text-left {
    right: 25%;
  }
  .custom-text-left {
    margin: 32vw 0vw;
    right: 25%;
  }
  .header-text-right {
    margin: 14.8vw 4vw 0vw;
  }
  .custom-text-right {
    margin: 6.5vw 4vw;
    right: 50%;
  }
  #age-modal-left {
    margin: 15vw -3vw;
  }
  .header {
    padding: 10vw;
  }
  .back-button-white {
    top: 5vw;
  }
  .good {
    font-size: 5vw;
    right: 60vw;
    margin: -6.8vw -5vw;
  }
  .spirits {
    font-size: 5vw;
    margin: -7vw 0vw 0vw;
  }
  .forward-button {
    top: 5vw;
    width: 13.5vw;
  }
  .question-div {
    top: 11.5vw;
    height: 6vw;
  }
  #results-header-text-left {
    margin: 20vw -3vw;
  }
  #music-player {
    left: -12vw;
    top: 15vw;
  }
  #results-header-text-right {
    margin: 20vw 0vw;
  }
  #kids-header-text-right {
    width: 107%;
  }
}
